{% extends 'menu.html' %}

{% block head %}
<title>eLib | About</title>
{% endblock %}

{% block body %}
    <Br><br><br>
<main role="main" class="container">
  <div class="jumbotron center">
    <h1>eLib.info</h1>
    <p class="lead">is a web application that allows users to search a varity of books in different topic through an online library with easy accesability and user friendly.</p>
  </div>
</main>
<main role="main" class="container">
  <div class="jumbotron center">
    <h3>Get Sarted</h3>
    <p class="lead">One click away from knowledge resources.</p>
    <a style="background-color: #99ccff" class="btn btn-success" text-align="center" href="/viewBook" role="button" title="Guest View">View Books &raquo;</a>
  </div>
</main>
{% endblock %}