{% extends 'menu.html' %}

{% block head %}
<title> eLib | Home </title>
{% endblock %}

{% block body %}
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
       <h1>Welcome To eLib.info</h1>
          <p>eLib is an online library that makes you one click away from varity of books library.</p>
          <p>Press View Posts to view as a guest otherwise join us to post</p>
          <a class="btn btn-success" href="viewBook" role="button" title="Guest View">View as guest &raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}